@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<div class="text-center">
    <h1 class="display-4 maintitle">Ping Pong at the Forge</h1>
    <h2 class="maintitle">@Model.greeting.Text</h2>
    <h6> (@Model.greeting.Language)</h6>
</div>
<hr />
<br />
<br />

<div class="text-center">
    <h2>Current Season: @Model.SeasonTitle @Model.SeasonStartDate </h2>
</div>
<br />

<div class="text-center">
    <h3>Standings</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Player</th>
                <th scope="col">Wins</th>
                <th scope="col">Losses</th>
                <th scope="col">Total Games</th>
                <th scope="col">Win %</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <th scope="row">@player.Rank</th>
                    <td>@player.UserName</td>
                    <td>@player.Wins</td>
                    <td>@player.Losses</td>
                    <td>@player.TotalGames</td>
                    <td>@player.WinPercentage</td>
                </tr>
            }
        </tbody>
</div>