@page
@model PingPongTracker.Pages.Admin.GamePlay.TournamentModel
@{
    ViewData["Title"] = "Prepare a Tournament";
}

<div class="text-center">
    <h3 class="display-4">Tournament</h3>    
</div>

<br />
<br />

@if(@Model.CurrentSeason == null)
{
    <div class="text-center">
        <h3 class="display-4">No Season</h3>
        <p>There is no current season. Please create a season first.</p>
        <a class="btn btn-primary" asp-page="/Admin/Seasons">Go To Seasons Page</a>
    </div>
}

@if(@Model.CurrentSeason is not null && @Model.CurrentTeams.Count() == 0)
{
    <div class="text-center">
    <h4 class="display-6">No Active Tournament or Teams</h4>
    <h4>Please select players to create a new tournament</h4>   
    <br />
    <br />
    <form class="p-2" method="post">
        @for(int i = 0; i < @Model.EligiblePlayersList.Count(); i++)
        {                
            <div class="row justify-content-md-center">
                <div>
					<input type="hidden" asp-for="@Model.EligiblePlayersList[i].PlayerId" />
				</div>
                <div class="col-2">                    
                    <h4><input type="text" class="form-control form-control-sm" asp-for="@Model.EligiblePlayersList[i].UserName" readonly></h4>
                </div>
                <div class="col-1">                    
                    <input type="checkbox" class="form-control form-control-sm form-check-input" asp-for="@Model.EligiblePlayersList[i].Eligible" >
                </div>
            </div>        
        }
        <div class="fillerspace"></div>
        <button type="submit" class="btn btn-lg btn-success" asp-page-handler="MakeTeams">Randomize and Create Teams</button>
    </form>
</div>
}


@if(@Model.CurrentSeason is not null && @Model.CurrentTeams.Count() != 0)
{
    <div class="text-center">        
        <h4 class="display-7">Tournament Teams</h4>  
        <br />  
        <div class="row justify-content-md-center row-cols-md-4 g-4"> 
            @for(int i = 0; i < @Model.CurrentTeams.Count(); i++)
            {
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            Team @(i+1)
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@Model.CurrentTeams[i].Player1UserName</li>
                            <li class="list-group-item">@Model.CurrentTeams[i].Player2UserName</li>                
                        </ul>
                    </div>
                </div>
            }
        </div>
        <br />  
        <br />
        <form class="p-2" method="post" >
            <button type="submit" class="btn btn-lg btn-danger" asp-page-handler="TourneyComplete">Complete Tournament</button>
        </form>  
    </div>
}